<h1 class="title">אודות</h1>
<p class="about">
    קבוצת שון סאב (Shon Sub) הוקמה בשנת 2020 במטרה לאפשר לגולשים מישראל לצפות באנימות עם תרגום מובנה בעברית.
    האתר הוקם ללא מטרות רווח, מטרתו היחידה של האתר היא לאפשר לך, הגולש הפשוט, צפייה במגוון תכנים ללא תשלום.

    אנו דבקים במטרה שהצבנו לעצמינו - הפיכת סדרות האינמה נגישות לכלל הציבור.

    תפעול האתר מתבצע בהתנדבות מלאה וללא תשלום, על-ידי צוות האתר עצמם.

    מידי יום אנו מקבלים עשרות פניות בדיסקורד מגולשים שונים באתר ומקפידים להשיב לכל פניה ופניה.
    כיוון שצרכי הגולשים תמיד בראש מעיינינו, אנו עושים את מירב המאמצים לשפר את האתר ולהתאים אותו לצרכיהם של כלל הגולשים.
    באתר מתבצעות פעולות תחזוקה ועדכונים בצורה תכופה, על מנת לשדרג את חווית הגלישה והצפייה בתכנים.
</p>
<h1 class="logo">S</h1>