<div class="home-img"></div>
<div class="showcase">
    <h1>ברוכים הבאים ל<span class="showcase-logo">ShonSub</span></h1>
    <h3>האנימות הטובות בעולם, <strong>בעברית!</strong></h3>
    <a class="showcase-btn primary-button" href="/projects">צפייה</a>
</div>