<h1 class="title">דרושים</h1>

<h3>
    <br>
    שלום וברוכים הבאים לדף הדרושים של קבוצת Shon Sub!
    <br>
    כמו כל פאנסאב פעיל, גם אנחנו (מן הסתם) צריכים צוות.
</h3>
<p class="about">
   
    <u><strong>תפקידים:</strong></u>

    <strong>מתרגם/ת</strong>
    דרישות:
    תרגום הכתוביות משפה מסויימת לעברית. נדרש שליטה בשפה שממנה מתרגמים (בדרך כלל זו אנגלית) ידע בסיסי בAegiSub ויכולת ניסוח טובה. ידע בסיסי ביפנית מקנה יתרון.

    <strong>עורך/ת לשוני/ת</strong>
    דרישות:
    העורך לשוני צריך לוודא שאין שגיאות כתיב \ ניסוח לא תקין בכתוביות, כמו כן לשנות מקומות שבהם יש ניסוח יותר "מתאים". כמובן עבור התפקיד דרוש ידע בעברית ברמה גבוהה. ידע באנגלית \ יפנית מקנה יתרון.

    <strong>טייפסטינג</strong>
    דרישות:
    דורש שליטה גבוהה בAegiSub או בכל תוכנה ויצירתיות.

    <strong>מתזמן/ת</strong>
    דרישות:
    הכרת תוכנת AegiSub וידיעת מלאכת התזמון שבה(יש הרבה מדריכים באינטרנט ללמידה למי שלא.

    <strong>מתכנת/ת Front End</strong>
    דרישות:
    ידע בHTML, CSS, JavaScript, JQuery.
    ניסיון עם Git וGitHub.

    <strong>מתכנת/ת Full Stack</strong>
    דרישות:
    ידע בHTML, CSS, JavaScript, JQuery.
    ידע בNode.js, Express.
    ניסיון עם Git וGitHub.

    <strong>מתכנת/ת SEO</strong>
    דרישות:
    ידע בקידום אתרים וGoogle Search Console.


</p>

<h2>יש למלא את השאלון לעיל כדי לשלוח בקשה</h2>
<h2>שימו לב! אם התפקיד שאתם רוצים אינו מופיע בשאלון, יש לסמן בתפקיד "Other"</h2>

<div class="typeform-widget" data-url="https://form.typeform.com/to/MA6sXrAU" data-hide-headers=true data-hide-footer=true style="width: 100%; height: 600px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=MA6sXrAU&utm_source=typeform.com-01ECTNKYV856YM40CDWVTEAJ3G-free&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>

<h1 class="logo"><strong>S</strong>hon<strong>S</strong>ub</h1>