<h1 class="title">צוות</h1>

<p class="about">
    <strong>צוות:</strong>
    Shon - מייסד הקבוצה ומתרגם
    The real piece - מתרגם ומקודד
    Bruk - מתרגם, מקודד, ועורך לשונית
    Yakugen - מקודד
    רם-צאן - מתרגם
    דנן danan - מפקח וטייפסר
    Raven - מתרגם
    Hinata Shoyo - העורכת הלשונית העליונה!
    מתרגם - iGlowHi
    かやばあきひこ- מתרגם
    𝕳𝖊𝖑𝖑𝕱𝖎𝖌𝖍𝖙𝖊𝖗 - מתרגם
    Tamir - מתרגם
    roeepaiss SAMA - מקודד
    ronkatz - מתרגם
</p>
<h1 class="logo"><strong>S</strong>hon<strong>S</strong>ub</h1>