<h1 class="title">צוות</h1>

<p class="about">
    <strong>צוות:</strong>
    Shon - מייסד הקבוצה ומתרגם
    The real piece - מתרגם ומקודד
    Bruk - מתרגם, מקודד, ועורך לשונית
    Yakugen - מקודד
    𝕙𝕚𝕟𝕒𝕥𝕒 𝕤𝕙𝕠𝕪𝕠- העורכת הלשונית העליונה!
    רם-צאן-מתרגם
    דנן danan- מפקח וטייפסר
    Raven-מתרגם
    מתרגם -iGlowHi
    かやばあきひこ-מתרגם
    𝕳𝖊𝖑𝖑𝕱𝖎𝖌𝖍𝖙𝖊𝖗-מתרגם
    Tamir-מתרגם
    roeepaiss SAMA-מקודד
    ronkatz-עורך לשוני
</p>
<h1 class="logo"><strong>S</strong>hon<strong>S</strong>ub</h1>