<form class="fixed-form episode-form-width invisible" id="new-episode-form" action="/projects/<%= project.name.replace(/ /g,"-") %>" method="POST" enctype="multipart/form-data">
  
  <a class="close-button closeForm" href="javascript:void(0)"><i class="fas fa-times-circle"></i></a>
  
  <h1>פרק חדש</h1>
    <div class="flex-container">


      <div class="input-container">
        <label for="episodeName"><b>שם פרק</b></label>
        <br>
        <br>
        <input type="text" placeholder="שם פרק" name="episodeName" dir="rtl" required>
      </div>
  
      <div class="input-container">
        <label for="link"><b>לינק</b></label>
        <br>
        <br>
        <input type="text" placeholder="לינק" name="link" dir="rtl" required>
      </div>

      
      <div class="input-container">
        <label for="episodesNumber"><b>מספר פרק</b></label>
        <br>
        <br>
        <input type="number" placeholder="מספר פרק" name="episodeNumber" dir="rtl" required>
      </div>

      <div class="input-container">
        <label for="post"><b>פוסט</b></label>
        <br>
        <br>
        <input type="text" placeholder="פוסט" name="post" dir="rtl">
    </div>
      

    <div class="input-container">
      <label for="img"><b>לינק לתמונה</b></label>
      <br>
      <br>
      <input type="text" placeholder="לינק לתמונה" name="image" dir="rtl">
    </div>
    <!--
    <div class="input-container">
    <input type="file" name="cover" dir="rtl">
    </div>
    -->

    </div>
    <button class="confirm-button add-episode" type="submit">שמור</button>
    <button class="light-button closeForm" type="button">ביטול</button>

</form>